body {
    background: #F4F3F6;
}

.point_of_sales_bill_wrapper {
    .p_header {
        background: #011C50;


        h1 {
            font-family: Inter;
            font-weight: 700;
            font-size: 17.6px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #ffffff;
            margin-bottom: 0;


        }

        button {
            border: 1px solid #ffffff;
            font-family: Inter;
            font-weight: 700;
            font-size: 17.6px;
            padding: 5px 15px;
            border-radius: 7px;
            background: none;
            color: #ffffff;
            transition: all 0.3s ease;

            &:hover {
                background: #ffffff;
                color: #011C50;
            }
        }

        input {
            background: #ffffff;
            border: none;
            border-radius: 7px;
            padding: 5px 10px;
            font-family: Inter;
            font-weight: 500;
            font-size: 17.6px;
        }
    }

    .billing_body_wrapper {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .item_list {
            background: #384785;
            border-radius: 10px;
            padding: 15px;
            width: 135px;

            ul {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    width: 100%;
                    margin-bottom: 9px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    button {
                        font-family: Inter;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: -1%;
                        text-align: center;
                        color: #FFFFFF;
                        border: 1px solid #FFFFFFC7;
                        border-radius: 9px;
                        min-height: 57px;
                        background: none;
                        width: 100%;
                        transition: all 0.3s ease;

                        &:hover {
                            background: #ffffff;
                            color: #011C50;
                        }
                    }
                }
            }
        }

        .subitems {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            column-gap: 15px;
            row-gap: 15px;
            flex-wrap: wrap;
            padding: 0 15px;

            .items_card {
                box-shadow: 0px 5.24px 18.88px 0px #0000000F;
                background: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 5px;
                transition: all 0.3s ease;

                &:hover {
                    border: 2px solid #011C50;
                }

                width: calc((100% - 30px) / 3);

                .items_card_description {
                    padding: 12px;

                    p {
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 12.59px;
                        line-height: 18.88px;
                        letter-spacing: -1%;
                        color: #000000;
                        margin-bottom: 0;
                        text-align: left;

                    }
                }

                .items_card_footer {
                    padding: 8px 12px;
                    border-top: 0.52px solid #E5E5EA;
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 12.59px;
                    line-height: 18.88px;
                    letter-spacing: -1%;
                    color: #000000;
                    text-align: left;
                }
            }
        }

        .bill_area {
            .bill_header {
                background: #384785;
                padding: 7px 13px 7px 20px;
                border-radius: 3px;

                .barcodeinput_area {
                    input {
                        padding: 5px 7px 5px 30px;
                        background: #ffffff;
                        border-radius: 7px;
                        border: none;
                    }
                }

                .customerbtn {
                    font-family: Rubik;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22.3px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: bottom;
                    padding: 5px 20px;
                    background: #ffffff;
                    border-radius: 5px;
                    border: none;
                }
            }
        }
    }
}

@media (max-width: 630px) {
    .point_of_sales_bill_wrapper .billing_body_wrapper .subitems .items_card {
        width: calc((100% - 15px) / 2);
    }
}

@media (max-width: 440px) {
    .point_of_sales_bill_wrapper .billing_body_wrapper .subitems .items_card {
        width: 100%;
    }
}