body {
    background: #F4F3F6;
}

.point_of_sales_bill_wrapper {
    .p_header {
        background: #011C50;


        h1 {
            font-family: Inter;
            font-weight: 700;
            font-size: 17.6px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #ffffff;
            margin-bottom: 0;


        }

        button {
            border: 1px solid #ffffff;
            font-family: Inter;
            font-weight: 700;
            font-size: 17.6px;
            padding: 5px 15px;
            border-radius: 7px;
            background: none;
            color: #ffffff;
            transition: all 0.3s ease;

            &:hover {
                background: #ffffff;
                color: #011C50;
            }
        }

        input {
            background: #ffffff;
            border: none;
            border-radius: 7px;
            padding: 5px 10px;
            font-family: Inter;
            font-weight: 500;
            font-size: 17.6px;
        }
    }

    .billing_body_wrapper {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .item_list {
            background: #384785;
            border-radius: 10px;
            padding: 15px;
            width: 135px;

            ul {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    width: 100%;
                    margin-bottom: 9px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    button {
                        font-family: Inter;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: -1%;
                        text-align: center;
                        color: #FFFFFF;
                        border: 1px solid #FFFFFFC7;
                        border-radius: 9px;
                        min-height: 57px;
                        background: none;
                        width: 100%;
                        transition: all 0.3s ease;

                        &:hover {
                            background: #ffffff;
                            color: #011C50;
                        }
                    }
                }
            }
        }

        .subitems {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            column-gap: 15px;
            row-gap: 15px;
            flex-wrap: wrap;
            padding: 0 15px;
            width: 45%;

            .items_card {
                box-shadow: 0px 5.24px 18.88px 0px #0000000F;
                background: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 5px;
                transition: all 0.3s ease;

                &:hover {
                    border: 2px solid #011C50;
                }

                width: calc((100% - 30px) / 3);

                .items_card_description {
                    padding: 12px;

                    p {
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 12.59px;
                        line-height: 18.88px;
                        letter-spacing: -1%;
                        color: #000000;
                        margin-bottom: 0;
                        text-align: left;

                    }
                }

                .items_card_footer {
                    padding: 8px 12px;
                    border-top: 0.52px solid #E5E5EA;
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 12.59px;
                    line-height: 18.88px;
                    letter-spacing: -1%;
                    color: #000000;
                    text-align: left;
                }
            }
        }

        .bill_area {
            width: 50%;

            .bill_header {
                background: #384785;
                padding: 7px 13px 7px 20px;
                border-radius: 3px;

                .barcodeinput_area {
                    input {
                        padding: 5px 7px 5px 30px;
                        background: #ffffff;
                        border-radius: 7px;
                        border: none;
                    }
                }

                .customerbtn {
                    font-family: Rubik;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22.3px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: bottom;
                    padding: 5px 20px;
                    background: #ffffff;
                    border-radius: 5px;
                    border: none;
                }
            }

            .bill_body {
                background: #ffffff;
                box-shadow: -1px 3px 18px 0px #00000003;
                border: 1px solid #FFF4F4;
                border-radius: 4px;
                margin-top: 11px;

                .bill_titel_area {
                    box-shadow: 0px 2.43px 4.87px -1.22px #0000001C;
                    background: #FFFFFF;
                    border-radius: 5px;
                    padding: 12px 30px;

                    .b_left {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        column-gap: 60px;

                        h1 {
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20.12px;
                            letter-spacing: 0%;
                            text-align: left;
                            vertical-align: bottom;
                            color: #000000;
                            margin-bottom: 0;
                            min-width: 60px;
                        }

                        h2 {
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20.12px;
                            letter-spacing: 0%;
                            text-align: left;
                            vertical-align: bottom;
                            color: #000000;
                            margin-bottom: 0;
                        }
                    }

                    .b_right {
                        h1 {
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20.12px;
                            letter-spacing: 0%;
                            text-align: right;
                            vertical-align: bottom;
                            color: #000000;
                            margin-bottom: 0;
                        }
                    }


                }

                .billing_items {
                    list-style-type: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    height: 429px;
                    overflow-y: auto;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 12px 30px;
                        border-bottom: 1px solid #E5E5EA;

                        .b_left {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            column-gap: 60px;


                            h2 {
                                font-family: Poppins;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18.88px;
                                letter-spacing: -1%;
                                color: #000000;
                                margin-bottom: 0;
                                text-align: left;
                                min-width: 60px;
                            }

                            h3 {
                                font-family: Poppins;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 18.88px;
                                letter-spacing: -1%;
                                color: #000000;
                                margin-bottom: 0;
                                text-align: left;
                            }
                        }

                        .b_right {


                            h2 {
                                font-family: Poppins;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18.88px;
                                letter-spacing: -1%;
                                color: #000000;
                                margin-bottom: 0;
                                text-align: right;
                            }

                            h3 {
                                font-family: Inter;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 18.88px;
                                letter-spacing: -1%;
                                text-align: right;

                                color: #000000;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .bill_total_amount_area {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px 30px;
                    border-bottom: 1px solid #E5E5EA;

                    ul {
                        list-style-type: none;
                        padding-left: 0;
                        margin-bottom: 0;

                        li {
                            &:first-child {
                                font-family: Poppins;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 23.9px;
                                letter-spacing: -1%;
                                color: #8E8E93;
                            }

                            &:last-child {
                                font-family: Poppins;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 23.9px;
                                letter-spacing: -1%;
                                color: #000000;
                            }
                        }

                        &:last-child {
                            li {
                                text-align: right;
                            }
                        }
                    }
                }

                .bill_save_and_print_area {
                    padding: 12px 30px;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 0;
                        margin-bottom: 0;
                        list-style-type: none;

                        li {
                            button {
                                font-family: Poppins;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 20.12px;
                                letter-spacing: 0%;
                                vertical-align: bottom;
                                color: #000000;
                                background: #E5E5EA;
                                border: 1px solid #E5E5EA;
                                padding: 7px 10px;
                                border-radius: 5px;
                                transition: all 0.3s ease;

                                &:hover {
                                    border: 1px solid #011C50;
                                }
                            }
                        }
                    }
                }

                .calculator_area {
                    padding: 12px 30px;

                    .calculatorTable_container {
                        background: #F4F4F4;
                        border-radius: 12px;
                         border: 1px solid #E5E5E5;
                        overflow: hidden;

                        .calculatorTable {
                            border-collapse: collapse;
                            width: 100%;


                            tbody {

                                tr {
                                   

                                    &:first-child {
                                        border-radius: 5px 5px 0 0;
                                        overflow: hidden;
                                    }

                                    td {
                                        width: 25%;
                                        border: 0.5px solid #E5E5E5;

                                        button {
                                            width: 100%;
                                            height: 100%;
                                            font-family: Poppins;
                                            font-weight: 400;
                                            font-size: 18px;
                                            line-height: 20.12px;
                                            letter-spacing: 0%;
                                            vertical-align: bottom;
                                            color: #000000;
                                            padding: 16px 0;
                                            border: none;
                                            background: transparent;
                                        }

                                    }

                                    .qty_color {
                                        background: #DEFDFF;
                                        border: 1px solid #017E84;

                                    }

                                    .yellow_color {
                                        background: #F7E08E;
                                        border: 1px solid #F8C100;

                                    }

                                    .dot_color {
                                        background: #F5D7CB;
                                        border: 1px solid #ECB7A0;

                                    }

                                    .bk_color {
                                        background: #FAA0A0;
                                        border: 1px solid #F77070;

                                    }
                                }
                            }
                        }
                    }

                }

            }
        }
    }
}


@media (max-width: 630px) {
    .point_of_sales_bill_wrapper .billing_body_wrapper .subitems .items_card {
        width: calc((100% - 15px) / 2);
    }
}

@media (max-width: 440px) {
    .point_of_sales_bill_wrapper .billing_body_wrapper .subitems .items_card {
        width: 100%;
    }
}