body {
  background: #F4F3F6;
}

.point_of_sales_bill_wrapper .p_header {
  background: #011C50;
}
.point_of_sales_bill_wrapper .p_header h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 17.6px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 0;
}
.point_of_sales_bill_wrapper .p_header button {
  border: 1px solid #ffffff;
  font-family: Inter;
  font-weight: 700;
  font-size: 17.6px;
  padding: 5px 15px;
  border-radius: 7px;
  background: none;
  color: #ffffff;
  transition: all 0.3s ease;
}
.point_of_sales_bill_wrapper .p_header button:hover {
  background: #ffffff;
  color: #011C50;
}
.point_of_sales_bill_wrapper .p_header input {
  background: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 17.6px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .item_list {
  background: #384785;
  border-radius: 10px;
  padding: 15px;
  width: 135px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul li {
  width: 100%;
  margin-bottom: 9px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul li:last-child {
  margin-bottom: 0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul li button {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.7803921569);
  border-radius: 9px;
  min-height: 57px;
  background: none;
  width: 100%;
  transition: all 0.3s ease;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul li button:hover {
  background: #ffffff;
  color: #011C50;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul li .active {
  background: #ffffff;
  color: #011C50;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;
  width: calc(50% - 100px);
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems .items_card {
  box-shadow: 0px 5.24px 18.88px 0px rgba(0, 0, 0, 0.0588235294);
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: calc((100% - 30px) / 3);
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems .items_card:hover {
  border: 2px solid #011C50;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems .items_card .items_card_description {
  padding: 16px 12px 17px 12px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems .items_card .items_card_description p {
  font-family: Inter;
  font-weight: 400;
  font-size: 12.59px;
  line-height: 18.88px;
  letter-spacing: -1%;
  color: #000000;
  margin-bottom: 0;
  text-align: left;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems .items_card .items_card_footer {
  padding: 8px 12px;
  border-top: 0.52px solid #E5E5EA;
  font-family: Inter;
  font-weight: 600;
  font-size: 12.59px;
  line-height: 18.88px;
  letter-spacing: -1%;
  color: #000000;
  text-align: left;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area {
  width: calc(50% + 100px);
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_header {
  background: #384785;
  padding: 7px 13px 7px 20px;
  border-radius: 3px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_header .barcodeinput_area input {
  padding: 5px 7px 5px 40px;
  background: #ffffff;
  border-radius: 7px;
  border: none;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_header .customerbtn {
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.3px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  padding: 5px 20px;
  background: #ffffff;
  color: #002A97;
  border-radius: 5px;
  border: none;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body {
  background: #ffffff;
  box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.0117647059);
  border: 1px solid #FFF4F4;
  border-radius: 4px;
  margin-top: 11px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area {
  box-shadow: 0px 2.43px 4.87px -1.22px rgba(0, 0, 0, 0.1098039216);
  background: #FFFFFF;
  border-radius: 5px;
  padding: 12px 30px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area .b_left {
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area .b_left h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.12px;
  letter-spacing: 0%;
  text-align: left;
  vertical-align: bottom;
  color: #000000;
  margin-bottom: 0;
  min-width: 60px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area .b_left h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.12px;
  letter-spacing: 0%;
  text-align: left;
  vertical-align: bottom;
  color: #000000;
  margin-bottom: 0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area .b_right h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.12px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: bottom;
  color: #000000;
  margin-bottom: 0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  height: 429px;
  overflow-y: auto;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 12px 30px;
  border-bottom: 1px solid #E5E5EA;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_left {
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_left h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 18.88px;
  letter-spacing: -1%;
  color: #000000;
  margin-bottom: 0;
  text-align: left;
  min-width: 60px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_left h3 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.88px;
  letter-spacing: -1%;
  color: #000000;
  margin-bottom: 0;
  text-align: left;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_right h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 18.88px;
  letter-spacing: -1%;
  color: #000000;
  margin-bottom: 0;
  text-align: right;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_right h3 {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 18.88px;
  letter-spacing: -1%;
  text-align: right;
  color: #000000;
  margin-bottom: 0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_total_amount_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  border-bottom: 1px solid #E5E5EA;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_total_amount_area ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_total_amount_area ul li:first-child {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 23.9px;
  letter-spacing: -1%;
  color: #8E8E93;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_total_amount_area ul li:last-child {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.9px;
  letter-spacing: -1%;
  color: #000000;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_total_amount_area ul:last-child li {
  text-align: right;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_save_and_print_area {
  padding: 12px 30px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_save_and_print_area ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_save_and_print_area ul li button {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 20.12px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #000000;
  background: #E5E5EA;
  border: 1px solid #E5E5EA;
  padding: 7px 8px;
  height: 44px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_save_and_print_area ul li button:hover {
  border: 1px solid #011C50;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area {
  padding: 12px 30px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container {
  background: #F4F4F4;
  border-radius: 12px;
  border: 1px solid #E5E5E5;
  overflow: hidden;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable {
  border-collapse: collapse;
  width: 100%;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr:first-child td {
  border-top: none;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr:first-child td:last-child {
  border-top-right-radius: 12px !important;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr:last-child td {
  border-bottom: none;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td {
  width: 25%;
  border: none;
  padding: 0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td:first-child {
  border-left: none;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td:last-child {
  border-right: none;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td button {
  width: 100%;
  height: 100%;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 20.12px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #000000;
  padding: 16px 0;
  border: none;
  background: transparent;
  border: 1px solid #E5E5E5;
  transition: all 0.3s ease;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td button:hover {
  background: #e4e3e3;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .qty_color {
  background: #DEFDFF;
  border: 1px solid #017E84 !important;
  border-top-right-radius: 12px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .qty_color:hover {
  background: #017E84 !important;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .yellow_color {
  background: #F7E08E;
  border: 1px solid #F8C100;
  border-bottom-left-radius: 12px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .yellow_color:hover {
  background: #F8C100 !important;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .dot_color {
  background: #F5D7CB;
  border: 1px solid #ECB7A0;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .dot_color:hover {
  background: #ECB7A0 !important;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .bk_color {
  background: #FAA0A0;
  border: 1px solid #F77070;
  border-bottom-right-radius: 12px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .bk_color:hover {
  background: #F77070 !important;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .calculatorTable_container .calculatorTable tbody tr td .bk_color img {
  width: 22px;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .paymentBtn {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 20.12px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #ffffff;
  background: #384785;
  padding: 21px;
  width: 100%;
  border: none;
  border-radius: 6px;
  margin-top: 17px;
  transition: all 0.3s ease;
}
.point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area .paymentBtn:hover {
  background: #0f1d55;
}

@media (max-width: 1300px) {
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems {
    width: calc(50% + 100px);
  }
}
@media (max-width: 1080px) {
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area {
    flex-direction: column;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area {
    width: 100%;
  }
}
@media (max-width: 630px) {
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems .items_card {
    width: calc((100% - 15px) / 2);
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_save_and_print_area ul {
    flex-wrap: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .calculator_area,
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_save_and_print_area,
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_total_amount_area,
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area,
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li {
    padding: 12px 10px;
  }
}
@media (max-width: 540px) {
  .point_of_sales_bill_wrapper .billing_body_wrapper {
    flex-direction: column;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .item_list {
    width: 100%;
    overflow-x: auto;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul li {
    width: -moz-fit-content;
    width: fit-content;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .item_list ul li button {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .subitems {
    padding-top: 15px;
  }
}
@media (max-width: 440px) {
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems .items_card {
    width: 100%;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area .b_right h1,
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area .b_left h2,
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .bill_titel_area .b_left h1 {
    font-size: 13px;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_left h2 {
    font-size: 11px;
    min-width: 40px;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_right h2,
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_left h3 {
    font-size: 11px;
  }
  .point_of_sales_bill_wrapper .billing_body_wrapper .subitems_and_bill_area .bill_area .bill_body .billing_items li .b_right h3 {
    font-size: 10px;
  }
}/*# sourceMappingURL=styles.css.map */